

<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<title>Editor | ASFIRJ</title>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/editorStatic/plugins/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/editorStatic/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/editorStatic/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/editorStatic/oidc-provider-k8-prod.s3.amazonaws.com/muser/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js?v=<%= new Date() %>" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<style>
    .submit-btn{
        background-color: #310357  !important;
  border: none;
  outline: none;
  border-radius: 25px !important;
  color: white !important;
  min-width: 150px;
    }
    input{
        min-width: 100%;
    }
    .bg-image-holder{
        /* border-top-left-radius: 25px;
        border-bottom-right-radius: 25px; */
        background-image: url('https://images.pexels.com/photos/3646172/pexels-photo-3646172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') !important;

    }
</style>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 base-login-container base-form-holder">
                <div class="form-holder">
                    <div class="bwt-logo">
                        AFRICAN SCIENCE FRONTIERS INITIATIES RESEARCH JOURNAL | <span>Editor</span>
                    </div>
                    

<form id="login-form" onsubmit="return false">

    
    <div id="loginMessage"></div>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="email" id="email" name="email" placeholder="Email" required>
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="password" id="password" name="password" placeholder="Password" required>
    </fieldset>
<!-- 
    <fieldset class="form-group">
    
        <select name="" id="" class="form-control form-control-lg">
            <option value="">Selct Job Title</option>
            <option value="">Editor</option>
            <option value="">Editor</option>
        </select>
    </fieldset> -->
    <fieldset class="form-group">
        <!-- <a href="/editorStatic/Dashboard/""> <span class="btn btn-primary btn-md submit-btn" id="loginButton">Sign In</span></a> -->
        <input class="btn btn-primary btn-md submit-btn" id="loginButton" type="submit" value="Sign In" />
    </fieldset>
</form>
<!-- <p class="text-center forgotten-password">Don't have an Account | <a href="/editorStatic/Register/">Register</a></p> -->


                </div>
                <!-- <img src="/editorStatic/oidc-provider-k8-prod.s3.amazonaws.com/images/corner.png" alt="mPharma corner image" class="corner-image"> -->
            </div>
            <div class="col-lg-6 col-md-6 base-login-container bg-image-holder d-sm-none d-md-block hide-on-small-only" title="Photo by Olena Bohovyk: https://www.pexels.com/photo/brown-wooden-shelf-with-books-3646172/">
            </div>
        </div>
	</div>
    <!-- <script src="/editorStatic/cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js?v=<%= new Date() %>"></script> -->
   <link rel="stylesheet" href="/assets/global/css/iziToast.min.css">
  <script src="/assets/global/js/iziToast.min.js?v=<%= new Date() %>"></script>
    <script src="/editorStatic/js/routes/login.js?v=<%= new Date() %>"></script>
</body>


</html>