
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
	<title>Admin | ASFIRJ</title>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/editorStatic/plugins/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/editorStatic/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/editorStatic/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/editorStatic/oidc-provider-k8-prod.s3.amazonaws.com/muser/style.css">
    <script src="/editorStatic/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
    <script src="/editorStatic/ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="container-fluid" >
		<div class="row" >
			<div class="col-lg-6 col-md-6 col-sm-12 base-login-container base-form-holder" style="overflow: auto; padding: 10px 0px;" >
                <div class="form-holder" style="overflow: visible; height: 100vh;" >
                    <div class="bwt-logo">
                        AFRICAN SCIENCE FRONTIERS INITIATIES RESEARCH JOURNAL | <span>Admin</span>
                    </div>
                    

<form onsubmit="return false" id="registerForm" style="overflow: scroll !important;">
    <input type='hidden' name='csrfmiddlewaretoken' value='D2JjUI9uNcJpHA0P1qC2WFtu9H13Bz1rvhU2PCYjffmoMzvE7M6ksy1JqRv6HPpn' />
    
    <div id="loginMessage"></div>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="text" id="token" name="token" placeholder="SecurePass" readonly value="<%= articleId %>">
    </fieldset>
     <fieldset class="form-group">
           <select name="prefix" id="prefix" class="form-control form-control-lg" required>
            <option value="">Select Preferred Prefix</option>
            <option value="Prof.">Prof.</option>
            <option value="Dr.">Dr.</option>
            <option value="Mr.">Mr.</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Miss">Miss</option>
        </select>
     </fieldset>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="text" id="firstname" name="firstname" placeholder="Firstname" required>
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="text" id="lastname" name="lastname" placeholder="Lastname" required>
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="text" id="othername" name="othername" placeholder="Other name(s)">
    </fieldset>
    <fieldset class="form-group">
        <input class="form-control form-control-lg" type="text" id="email" name="email" placeholder="email" required>
    </fieldset>
    <fieldset class="form-group" style="display: flex; align-items: center; justify-content: space-between;">
        <input class="form-control form-control-lg" type="password" id="password" name="password" placeholder="Password" required>
        <span id="showPassword"><i class="fa fa-eye"></i></span>
    </fieldset>
    <fieldset class="form-group">
        <input type="hidden" class="form-control form-control-lg" id="editorial_level" value="sectional_editor" readonly>
    
    </fieldset>
  
  
    
    <fieldset class="form-group">
        <input type="text" class="form-control" placeholder="Affiliation" id="affiliation" name="affiliation" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="text" class="form-control" placeholder="Affiliation Country" id="affiliation_country" name="affiliation_country" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="text" class="form-control" placeholder="Affiliation City" id="affiliation_city" name="affiliation_city" required>
    </fieldset>
    <fieldset class="form-group">
        <input type="text" class="form-control" placeholder="Orcid Id" name="orcid_id" id="orcid_id" >
    </fieldset>
    <fieldset class="form-group">
        
        <select id="discipline" name="discipline" class="form-control discipline" required>
            <option value="">Select a Discipline</option>
            <option value="Agricultural sciences">Agricultural sciences</option>
            <option value="Allied Health Sciences">Allied Health Sciences</option>
            <option value="Anthropology">Anthropology</option>
            <option value="Arts">Arts</option>
            <option value="Biology">Biology</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Climate Change">Climate Change</option>
            <option value="Computer and Information Sciences">Computer and Information Sciences</option>
            <option value="Earth Sciences">Earth Sciences</option>
            <option value="Engineering and Technology">Engineering and Technology</option>
            <option value="Environmental Sciences">Environmental Sciences</option>
            <option value="Epidemiology">Epidemiology</option>
            <option value="Humanities">Humanities</option>
            <option value="Leadership and Management">Leadership and Management</option>
            <option value="Life Sciences">Life Sciences</option>
            <option value="Materials Science">Materials Science</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Medicine">Medicine</option>
            <option value="Physics and Astronomy">Physics and Astronomy</option>
            <option value="Politics">Politics</option>
            <option value="Public & Global Health">Public & Global Health</option>
            <option value="Social and Behavioral Sciences">Social and Behavioral Sciences</option>
            <option value="Statistics">Statistics</option>
            <option value="Theology">Theology</option>
            <option value="Other">Other (please specify)</option>
        </select>
        <div id="disciplineContainer"></div>
    </fieldset>


   
    <fieldset class="form-group">
       <button type="submit" class="btn btn-primary btn-md submit-btn" id="loginButton">Register</button>
       <!-- <input class="btn btn-primary btn-md submit-btn" id="loginButton" type="submit" value="Sign In" /> -->
    </fieldset>
</form>
<p class="text-center forgotten-password">Already have Account | <a href="/login/">Login</a></p>


                </div>
                <!-- <img src="/editorStatic/oidc-provider-k8-prod.s3.amazonaws.com/images/corner.png" alt="mPharma corner image" class="corner-image"> -->
            </div>
            <div class="col-lg-6 col-md-6 base-login-container bg-image-holder d-sm-none d-md-block hide-on-small-only">
            </div>
        </div>
	</div>
    <script src="/editorStatic/cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/editorStatic/www.sakimura.org/test/openidconnect.js"></script>
    <script src="/editorStatic/js/routes/queries/editorRegister.js"></script>
</body>


</html>